<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fauzighozali.mgamobile">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_maesa_grow"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_maesa_grow"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/logo_maesa_grow" />

        <service android:name=".notification.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".notification.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".activity.IntroActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DetailCertificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CertificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MateriPembelajaranActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PendahuluanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LevelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OrientedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AddNoteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NotePreviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DetailBookActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SeeAllBookActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.VHSActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ChangePasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.GuideActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PrivacyPolicyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PostTestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MateriActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PreTestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.VideoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SeeAllVideoMiniVHSActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FullScreenVideoActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.HardSkillActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.HistoryDetailCertificationActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>